@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

body{
    margin: 0;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

#container {
    position: relative; /* Base per il posizionamento */
    display: inline-block; /* L'immagine mantiene le sue dimensioni */
    width: 100%;
    height: 100%;

}

.immagine-sfondo {
  width: 100%; /* Si adatta al contenitore */
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0;
}

#contenuto {
    position: absolute;
    top: 0; 
    left: 0;
    margin: 0 auto;
}

#container header img {
    height: 30%;
}

main {
    padding-left: 150px;
    padding-right: 150px;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}

h1 span {
    font-weight: 700;
}

p, li {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
}

#benvenuto {
    width: 70%;
}

#istruzioni {
    color: #D20094;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.3em;
}

#partenza {
    display: flex;
    justify-content: space-between;
}

#check {
    display: flex;
    align-items: center;
}