@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    /*
    padding-left: 150px;
    padding-right: 150px;
    */
}

#container {
    position: relative; /* Base per il posizionamento */
    display: inline-block; /* L'immagine mantiene le sue dimensioni */
    width: 100%;
    height: 100%;
}

.immagine-sfondo {
  width: 100%; /* Si adatta al contenitore */
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0;
}

#contenuto {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;    
}

#container header img {
    height: 30%;
}


h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}

ul {
    margin-top: 40px;
}

li span {
    font-weight: 700;
}

h1 span {
    font-weight: 700;
}

p, li, .custom-checkbox{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
}

#benvenuto {
    width: 70%;
    margin-bottom: 8vh;
}

#istruzioni {
    color: #D20094;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.3em;
}

#partenza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 5vh;
}

#procedi {
    height: 100%;
    font-size: 1.3em;
    color: black;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(202, 202, 202, 0.315);
    box-shadow: 0px 0px 30px transparent;
    border: #00ffff;
}

#procedi.attivo {
    background-color: #00ffff;
    transition: all 1s ease
}

#myLink {
    height: 5vh;
    pointer-events: none;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 3px solid white;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox {
    font-size: 0.9em;
    margin-bottom: 10px;

}

