@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

::selection {
  color: white;
  background-color: #d20094;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  color: white;
  font-family: "Outfit";
}

header {
  display: flex;
  margin-top: 3rem;
  margin-left: 7rem;
  margin-right: 7rem;
}

#logoHeader img {
  margin: 0;
  width: 10%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 7rem;
}

/*CODICE RELATIVO AL BOX CONTENENTE DOMANDA E RISPOSTE*/

#boxQuestions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*CODICE RELATIVO AL TITOLO OVVERO LA DOMANDA*/

.titleContainer {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleQuestion {
  font-family: "Outfit";
  font-weight: 300;
}

.boldText {
  font-family: "Outfit";
  font-weight: 500;
}

h2 {
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
  width: 70%;
}

/*CODICE RELATIVO AL GRUPPO DI RISPOSTE*/

.answersGroup {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.answersGroup form {
  min-width: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 2em 4em;
  flex-wrap: wrap;
}

.answersGroup input[type="radio"] {
  position: absolute;
  opacity: 0;
}

/*BUTTON DELLE RISPOSTE*/

.styleButton {
  font-size: 0.7em;
  position: relative;
  font-family: "Inter";
  padding: 1em 5em;
  text-align: center;
  width: 20%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10em;
  border: 1px solid;
  border-color: #ffffff;
}

.styleButton:hover {
  cursor: pointer;
  transition: background 0.1s ease-in;
  background: #d20094;
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 0%,
    rgba(144, 0, 128, 1) 100%
  );
}

/*CODICE RELATIVO AL COUNTER DELLE RISPOSTE*/

#counterQuestions {
  display: flex;
  justify-content: center;
}

.count {
  position: absolute;
  bottom: 3em;
  letter-spacing: 0.3em;
  font-size: 1em;
  font-weight: 500;
}

.allQuestions {
  color: #d20094;
}

/*css per End Quiz e Result */

#endQuizparagraph {
  margin: revert;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: white;
  text-align: center;
}

#endButton {
  text-align: center;
  height: 100%;
  font-size: 1.5em;
  color: black;
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgba(202, 202, 202, 0.315);
  box-shadow: 0px 0px 30px transparent;
  border: #00ffff;
  transition: all 1s ease;
}

#endButton:hover {
  text-align: center;
  height: 100%;
  font-size: 1.3em;
  color: black;
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #00ffff;
  box-shadow: 0px 0px 30px transparent;
  border: #00ffff;
}

#resultPar {
    margin: revert;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

#resultPar span {
    color: #D20094;
    font-size: 2em;
    font-weight: 700;
    display: inline-block;
    animation:pulse 1s 3;

    @keyframes pulse {
      0%{transform:scale(1)}
      50%{transform:scale(2)}
      100%{transform:scale(1)}
    }
}

#feedbackCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedbackCont h1 {
    margin: revert;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: white;
    animation:pulse 1s 3;

    @keyframes pulse {
      0%{transform:scale(1)}
      50%{transform:scale(2)}
      100%{transform:scale(1)}
    }

}

#feedbackCont p{
    margin: revert;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #D20094;
}

/*css per Answers Review */

.revAnsCont{
  height: 400px;
  width: 350px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.221);
}