#BD{
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-width: 900px;
    min-height: 600px;
}

#container {
    position: relative; /* Base per il posizionamento */
    display: inline-block; /* L'immagine mantiene le sue dimensioni */
    width: 100%;
    height: 100%;

}

.BGIMage{
  width: 100%; /* Si adatta al contenitore */
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0;
}

#content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    margin: 0 auto;
}

#content span {
    color: #D20094;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.3em;
}

#logoBand {
    margin: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

#logoBand img {
    height: 30%;
}

#mainCont{
    margin: 0;
    height: 80vh;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#totCont{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#totCont h1 {
    margin: revert;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: white;
}

#totCont p {
    margin: revert;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

#resultCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedbackCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedbackCont p{
    color: #D20094;
}